.navbar {
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-auth a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar-auth a:hover {
  text-decoration: underline;
}
.navbar-logo {
  font-weight: bold;
  color: white;
  margin-right: 1rem;
}

.navbar a {
  text-decoration: underline;
}